<strong>Olá, {{ student }}</strong>
<p>
  Obrigado por fazer parte da Gympoint. Segue abaixo as informações sobre sua matrícula:
</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Período:</strong> {{ start_date }} a {{ end_date }}<br />
  <strong>Valor:</strong> R$ {{ totalPrice }} ( {{duration}} X R$ {{monthlyFee}} )<br />
  <br />

</p>
